# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# Page and Application information
PAGE_ID=103426958068102
APP_ID=3624382420923267
PAGE_ACCESS_TOKEN=EAAzgW0q6s4MBAIA5ZB7ZCdv61tHbrJ2UBqyfMZABB56F1m7uOZAZCoImhHNSM4B8DPUZBZBC8Iw9JzRfBmdGD4XZBqPptsrn6n3csvP8Lq7lhTq1UdDrpGnc7r5H2zgOuOVYZCFArRo14f8U1OksOh3JrGFKAzDTs4tWWmUSlGzaIrnKqBMB0mgaw

# Your App secret can be found in App Dashboard -> Seetings -> Basic
APP_SECRET=8f60610914a48ea8dad976e74005359e

# A random string that is used for the webhook verification request
VERIFY_TOKEN=maxicup_verified

# URL where you host this code
# You can use LocalTunnel or Heroku ex: https://mystic-wind-83.herokuapp.com
APP_URL=

# URL of your website where the "shop now" is located
# Can be the same as your app domain URL ex: https://www.originalcoastclothing.com/
SHOP_URL=

# Preferred port
PORT=3000

# note: .env is a shell file so there can't be spaces around =
